*{
	padding: 0;
	margin: 0;
}

body, html{
	/*height: 100%;*/
	/*取消滚动条*/
	min-width: 1336px;
}

.main{
	height: 100%;
	font-family: 'Roboto', arial, sans-serif;
	position: relative;
}

.general{
	height: 100%;
	text-align: center;
	overflow: hidden;
	min-height: 550px;
}
 
.title{
	position: absolute;
	display: block;
	top: 10%;
	margin: auto;left: 0; right: 0; /*绝对定位下水平居中的办法*/
	font-size: 100px;
	font-family: "Microsoft YaHei UI";
	opacity: 0;
	font-weight:100;
	color: #333;
}
.general h1{
	position: absolute;
	margin: auto;left: 0; right: 0;
	font-weight:100;
	top: 33%;
	color:#60C;
	opacity: 0;
}
.general p{
	position: absolute;
	top: 40%;
	margin: auto;left: 0; right: 0;
	color:#666;
	opacity: 0;
}
.general img{
	top: 70%;
	margin: auto;left: 0; right: 0;
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.greeting{
	position: absolute;
	width: 300px;
	height: 100px;
	top: 65%;
	left: 60%;
}

.experience{
	background-color: #CCC;
	height: 100%;
	background-image: url(../pic/experience/bridge.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 800px;
}

.experience_text{
	position: absolute;
	text-align: left;
	top: 20%;
	right: 0%;
	opacity: 0;
	min-width: 300px;
}
.experience_text h1{
	font-weight: 100;
	color: #0CF;
}
.experience_text h2{
	color: #0CF;
}
.experience_text p{
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: 100;
	color: #009;
}
.experience_bar{
	position: absolute;
	top: 77%;
	left: 0%;
	height: 120px;
	min-width: 640px;
	opacity: 0;
}

.experience_bar li{
	list-style: none;
	display: inline-block;
	float: left;
	height: 120px;
	width: 120px;
	margin-left: 30px;
	border: 2px solid #006;
	border-radius: 10px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: #39F;
}

.experience_bar span{
	display: block;
	height: 50px;
	text-align: center;
	font-size: 44px;
	margin-top: 20px;
}

.projects{
	height: 100%;
	background: #CCC;
	min-height: 660px;
}

.projects_text{
	position: absolute;
	text-align: center;
	margin: auto;left: 0; right: 0;
	top: 10%;
	font-weight: 100;
	opacity: 0;
}
.projects_text p{
	color: #333;
}

.projects_num{
	position: absolute;
	top: 33%;
	width: 16%;
	height: 350px;
	padding: 50px 0;
	border-radius: 10px;
	color: #CCC;
	text-align: center;
}

.projects_num span{
	font-size: 24px;
	color: #fff;
}

.projects_num p{
	font-size: 22px;
	color: #CCC;
}

.projects_1{
	background-color: #0C0;
	left: 10%;
}

.projects_2{
	background-color: #F90;
	left: 31%;
}

.projects_3{
	background-color: #C00;
	left: 52%;
}

.projects_4{
	background-color: #00C;
	left: 73%;
}

.education{
	height: 100%;
	background-image: url(../pic/education/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

.education_text{
	position: absolute;
	margin: auto;left: 0; right: 0;
	width: 50%;
	text-align: center;
	color: rgb(254,254,175);
	top: 10%;
	left: 50%;
}
/*
.timeline{
	position: absolute;
	background: #069;
	border-radius: 40px;
	height: 40px;
	width:1300px;
	left: 0px;
	z-index: 10;
	display: none;
}

.timeline li{
	list-style: none;
	display: inline;
	font-size: 22px;
	line-height:40px;
}
*/
.schools{
	position: absolute;
	margin: auto;left: 0; right: 0;
	top: 40%;
	left: -140%;
	width: 100%;
	min-width: 1336px;
	height: 500px;
	text-align: center;
}

.school{
	float: left;
	padding-top: 20px;
	background-color: #FFF;
	border-radius: 10px;
	height: 130px;
	width: 29%;
	min-width: 400px;
	opacity: 0.8;
	overflow: hidden;
	display: inline-block;
}

.highschool{
	width: 30%;
	margin-left: 2.8%;
	margin-right: 1.1%;
}

.highschoolC{
	width: 30%;
	margin: 0 1.1%;
}

.university{
	width: 30%;
	margin-left: 1.1%;
	margin-right: 2.8%;
}

.skills{
	background-color: #000;
	height: 100%;
	overflow: hidden;
	min-height: 800px;
}

.skills_text{
	position: absolute;
	margin: auto;left: 0; right: 0;
	top:-30%;
	padding-top: 40px;
	text-align: center;
	color: #FFF;
}

.skills_ul1{
	width: 250px;
	font-size: 18px;
	list-style: none;
	line-height: 30px;
	text-align: left;
	margin-left: -35%;
	float: left;
	cursor: default;
}

.skills_ul2{
	width: 220px;
	font-size: 18px;
	color: #0FF;
	list-style: none;
	line-height: 30px;
	text-align: right;
	margin-right: -35%;
	float: right;
	cursor: default;
}

.hobbies{
	background-color:#FFF;
/*	background-image: url(../pic/hobbies/bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;*/
	height: 100%;
}

.hobbies_text{
	position: absolute;
	margin: auto; left: 0; right: 0;
	top: 1%;
	padding-top: 40px;
	height: 500px;
	text-align: center;
}

.hobbies_intro{
	margin: 0px auto;
}

.hobbies_list{
	padding-top: 20px;
	width: 20%;
	margin: 0 auto;
	color: #333;
	overflow: hidden;
	height: 0px;
}

.hobbies_list li{
	/*text-indent: 120px;*/
	text-align: left;
	line-height: 25px;
}

#nav{
	position: fixed;
	top: 0;
	height: 100%;
	background-color: #333;
	z-index: 30;
	width: 120px;
	margin-left: -120px
}

#nav li{
	line-height: 50px;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border-bottom: 1px solid #666;
}

.nav_dot_0{
	width: 185px; 
	height: 70px; 
	background: url(../pic/qianhou.png) no-repeat 90px 5px;
	text-align: right;
	border: 0px !important;
}