@mixin breakpoint($point) {
    @media ($point) { @content ; }
}
body{
	margin-top: 50px !important;
	h1,.content{
		font-family: "Microsoft Yahei";
		font-weight: 200; 
	}
}
.intro{
	width: 100%;
	height: 100vh;
	h1{
		padding-top: 30px;
		color: #4A4A4A; 
		text-align: center; 
	}
}
#laptop{
	padding: 30px 0;
	transition: 1s;
	text-align: center; 
	width: 100%;
	#laptop-full{
		display: none;
		margin: auto; 
		width: 80%; 
		max-width: 1102px; 
		display: none;
		@include breakpoint("max-width: 768px"){
			display: block;
		}
	}
	#laptop-screen{
		margin: auto;
		width: 80%; 
		max-width: 1102px; 
		max-height: 560px; 
		transform: perspective(2000px) rotateX(-88deg); 
		transition: 3s cubic-bezier(.63,.5,.21,.39);
		-webkit-transform-origin: bottom; 
		@include breakpoint("max-width: 768px"){
			display: none;
		}
	}
	#laptop-bottom{
		margin: auto;
		width: 80%;
		max-width: 1102px; 
		margin: 0 auto;
		@include breakpoint("max-width: 768px"){
			display: none;
		}
	}
}
.feature1{
	.content{
		background: #E1F5FE;
	}
	.picture{
		background: url(money.jpg);
	}
}
.feature2{
	.content{
		background: #F1F8E9;
	}
	.picture{
		background: url(programs.jpg);
	}
}
.feature3{
	.content{
		background: #FBE9E7;
	}
	.picture{
		background: url(stress.jpg);
	}
}
.feature{
	margin: 0 auto;
	width: 80%;
	.content, .picture{
		float: left;
		width: 50%;
		text-align: center;
	}
	.content{
		height: 600px;
		padding: 30px;
		h1{
			font-weight: 200; 
			font-size: 52px;
		}
		span{
			font-size: 24px; 
			max-width: 500px; 
			display: block; 
			line-height: 1.3;
			margin: 30px auto;
		}
	}
	.picture{
		height: 600px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.feature4{
	margin-top: 10vw;
	text-align: center;
	font-family: "Microsoft Yahei";
	font-weight: 200; 
	h1{
		font-weight: 200; 
		font-size: 52px;
	}
	span{
		font-size: 24px; 
		max-width: 500px; 
		display: block; 
		line-height: 1.3;
		margin: 30px auto;
	}
	img{
		margin-top: 3vw;
		position: relative;
		max-width: 1250px;
		width: 100%;
		// top: 300px;
	}
}
.how{
	background: #fafafa;
	height: 1000px;
	position: relative;
	overflow-y: auto;
	text-align: center;
	h1{
		font-size: 52px;
		text-align: center;
		margin-top: 80px;
	}
	.leftArrow, .rightArrow{
		width: 15vw;
		z-index: 1330;
		position: absolute;
		top: 0;
		height: 1000px;
		cursor: pointer;
		opacity: 0.5;
		&:hover{
			opacity: 1;
		}
		img{
			position: absolute;
			top: 0; bottom: 0;
			margin: auto 0;
			height: 100px;
		}
	}
	.leftArrow{
		left: 0;
		img{
			transform: rotateY(180deg);
			right: 0;
		}
	}
	.rightArrow{
		right: 0;
		img{
			left: 0;
		}
	}
	.slick{
		div{
			padding: 20px;
		}
	}
}
