*{
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei" ,'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

html{
	font-size: 62.5%;
}

@media screen and (max-width: 768px) {
	header .mobliemenu{
		transform: translate(0,0) !important;
	}
	header ul{
		margin-left: -300px;
	}
	header li{
		margin-left: 50px !important;
	}
	header>ul>li>a:first-child{
		margin-left: 0 !important;
	}
	header li a, header a{
		display: list-item;
		list-style: none;
		margin: 20px 0;
	}
	header li:last-child{
		float: none !important;
	}
	header{
		height: 100% !important;
		width: auto !important;
		-webkit-box-shadow: 5px 0px 45px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 5px 0px 45px 0px rgba(0,0,0,0.75);
		box-shadow: 5px 0px 45px 0px rgba(0,0,0,0.75);
	}
	header ul{
		background-color: black;
		height: 100%;
		padding-top: 50px;
		width: 300px !important;
	}
	.content p{
		font-size: 16px !important;
		line-height: 24px !important;
	}
	.fb-like,.share_small{
		float: none !important;
	}
}

@media screen and (max-width: 1120px) {
	.Container{
		width: 100% !important;
	}
	.content{
		width: 90% !important;
	}
	.title_header{
		font-size: 32px !important;
	}
}

header{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100px;
	z-index: 100;
}

header .mobliemenu{
	position: absolute;
	top: 0;
	margin: 10px 20px;
	transform: translate(-100px,0);
}

header li a{
	color: #EEEEEE;
	font-size: 15px;
	margin-right: 30px;
}

header li a:hover{
	text-decoration: none;
	color: white;
}

header li{
	display: inline-block;
	height: 52px;
	/*width: 180px;*/
	margin-top: 20px;
}

header li:last-child{
	float: right;
	border: solid 2px white;
	margin-right: 50px;
	width: 180px;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 50px;
	-webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
	transition: ease-in-out .3s;
}
/*
header li:last-child:hover{
	background-color: white;
	color: #;
}*/

header>ul>li>a:first-child{
	margin-left: 50px;
}

.content, .Container{
	width: 80%;
	margin: auto;
}

.top{
	position: relative;
	background-size: cover;
	margin: auto;
	text-align: center;
	height: 300px;
}

.title{
	position: absolute;
	bottom: 20px;
	display: block;
	width: 80%;
	margin: 0 10%;
}

.title_header{
	color: white;
	text-align: center;
	font-size: 50px;
}

.author{
	margin: 20px auto;
	float: left;
}

.share{
	float: right;
	margin: 30px auto;
}

.share li,.share_small li{
	display: inline-block;
	margin-left: 30px;
}

.share li img{
	height: 40px;
}

.share li img:hover{
	opacity: 0.6;
}

.share_small{
	margin: 20px 0;
	height: 50px;
}

.share_small:before{
	content: "";
	display: block;
	margin: 20px 0;
	height: 1px;
	width: 100%;
	background-color: #9E9E9E;
}

#blog{
	clear: both;
}

#blog:before{
	content: "";
    display: block;
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: #9E9E9E;
}


figure p{
	font-size: 18px !important;
	line-height: 28px !important;
	text-align: center;
}

.content p{
	font-size: 20px;
	line-height: 32px;
	font-weight: 200;
	margin-bottom: 20px;
}

/*Footer*/

footer{
	clear: both;
	background: black;
	text-align: center;
}

#hansenicon{
	width: 60px;
	height: 60px;
	margin: 20px;
}

footer img{
	margin: 10px;
	margin-bottom: 60px;
	width: 30px;
	height: 30px;
}

footer a{
	font-family: "Microsoft YaHei" ,'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inline-block;
	line-height: 30px;
	color: #BDBDBD;
	margin: 0 15px;
	font-size: 16px;
	opacity: 0.7;
}

footer a:hover{
	color: white;
	text-decoration: none;
	opacity: 1;
}