*{
	padding: 0;
	margin: 0;
}

@media screen and (max-width: 768px) {
	header .mobliemenu{
		transform: translate(0,0) !important;
	}
	header ul{
		margin-left: -300px;
	}
	header li{
		margin-left: 50px !important;
	}
	header>ul>li>a:first-child{
		margin-left: 0 !important;
	}
	header li a, header a{
		display: list-item;
		list-style: none;
		margin: 20px 0;
	}
	header li:last-child{
		float: none !important;
	}
	header{
		height: 100% !important;
		width: auto !important;
		-webkit-box-shadow: 5px 0px 45px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 5px 0px 45px 0px rgba(0,0,0,0.75);
		box-shadow: 5px 0px 45px 0px rgba(0,0,0,0.75);
	}
	header ul{
		background-color: black;
		height: 100%;
		padding-top: 50px;
		width: 300px !important;
	}
	article figure:hover .share{
		transform: translate(20px,300px) !important;
	}
	article .share{
		transform: translate(0,300px) !important;
	}
	article figcaption p{
		display: none;
	}
	article figure:hover >img{
		transform: translate(0,0) !important;
	}
}

@media screen and (max-width: 1120px) {
	.Container{
		width: 100% !important;
	}
	.content{
		width: 100% !important;
	}
}

header{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100px;
	z-index: 100;
}

header .mobliemenu{
	position: absolute;
	top: 0;
	margin: 10px 20px;
	transform: translate(-100px,0);
}

header li a{
	color: #EEEEEE;
	font-size: 15px;
	margin-right: 30px;
}

header li a:hover{
	text-decoration: none;
	color: white;
}

header li{
	display: inline-block;
	height: 52px;
	/*width: 180px;*/
	margin-top: 20px;
}

header li:last-child{
	float: right;
	width: 180px;
	border: solid 2px white;
	margin-right: 50px;
	font-family: "Microsoft YaHei";
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 50px;
	-webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
	transition: ease-in-out .3s;
}

header li:last-child:hover{
	background-color: white;
	color: #212121;
}

header>ul>li>a:first-child{
	margin-left: 50px;
}

.Container{
	width: 80%;
	margin: auto;
}

.mainBody{

}

.top{
	background: url(../img/blog.jpg) no-repeat;
	background-size: cover;
	margin: auto;
	text-align: center;
	height: 450px;
}

.top img{
	vertical-align: middle;
	margin: auto;
	display: block;
}

.content:before{
	content: "";
	display: block;
	height: 10px;
}

article{
	height: 400px;
	padding: 10px !important;
}

article:last-of-type{
	margin-bottom: 10px;
}

article figure{
	height: 100%;
	color: WHITE;
	position: relative;
	font-size: 1.5em;
	overflow: hidden;
}

figure img{
	width: 100%;
	min-height: 100%;
	transition: all 0.5s;
}

article figure:hover{
	opacity: 0.8;
}

article figcaption{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
}

article figcaption p{
	position: absolute;
	top: 0;
	background-color: white;
	color: black;
	padding: 10px;
	height: 100px;
	width: 100%;
	font-size: 18px;
	transform: translate(0,380px);
	transition: all 0.5s;
}

article .share{
	background-color: white;
	position: absolute;
	top: 0;
	color: black;
	width: 120px;
	display: block;
	padding: 10px;
	transform: translate(0,100px);
	transition: all 0.5s;
	z-index: 15;
	text-align: center;
}

article figure:hover figcaption p{
	color: white;
	background-color: black;
	transform: translate(0,280px);
}

article figure:hover .share{
	transform: translate(20px,100px);
}

article figure:hover >img{
	transform: translate(0,-50px);
}

#article1{
	height: inherit;
	width: 100%;
	position: absolute;
	display: block;
	z-index: 10;
}

.article2 figure{
	background-color: #3b5999;
}

.article3 figure{
	background-color: #e52d27;
}

.article4 figure{
	background-color: #FFFC00;
}

.article5 figure{
	background-color: #25D366;
}

footer{
	clear: both;
	background: black;
	text-align: center;
}

#hansenicon{
	width: 60px;
	height: 60px;
	margin: 20px;
}

footer img{
	margin: 10px;
	margin-bottom: 60px;
	width: 30px;
	height: 30px;
}

footer a{
	font-family: "Microsoft YaHei" ,'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inline-block;
	line-height: 30px;
	color: #BDBDBD;
	margin: 0 15px;
	font-size: 16px;
	opacity: 0.7;
}

footer a:hover{
	color: white;
	text-decoration: none;
	opacity: 1;
}