<div class="container">
	<img id="hansenicon" src="img/icons/hansenbg.png" alt="">
	<br/>
	<a href="new.html">HOME</a>
	<a href="blogs.html">BLOGs</a>
	<a href="projects.html">PROJECTs</a>
	<a href="#">DESIGNs</a>
	<a href="files/Hansen Wang.pdf">RESUME</a> 
	<a href="contact.php">CONTACT</a>
	<p style="padding: 5px; color: #424242">© 2016 Hansen Wang. All rights reserved. Young Entrepreneur / Student</p>
	<a href="https://www.facebook.com/HansenWang.Price" style="margin-left: 30px"><img src="img/icons/facebook.png" alt="" href=""></a>
	<a href="https://ca.linkedin.com/in/wanghansen"><img src="img/icons/linkedin.png" alt=""></a>
	<a href="https://github.com/WangHansen"><img src="img/icons/github.png" alt=""></a>
</div>