<script type="text/javascript" src="js/header.js"></script>
<div class="mobliemenu">
	<!-- <img src="img/icons/menu.png" alt=""> -->
	<span></span>
	<span></span>
	<span></span>
</div>
<ul>
	<li><a href="new.html"><img src="img/icons/hansenbb.png" width="50px" alt=""></a></li>
	<li><a href="new.html">HOME</a></li>
	<li><a href="blogs.html">BLOGS</a></li>
	<li><a href="projects.html">PROJECTS</a></li>
	<li><a href="files/Hansen Wang.pdf">RESUME</a></li>
	<li><a href="contact.php">CONTACT</a></li>
</ul>