@charset "utf-8";
/* CSS Document */
body{
	margin-top: 50px;
}

.title h1{
	font-family: "Georgia",Serif;
}

.active .nav .nav-tabs{
	background-color: white;
}

.nav{
	background-color: #000;
	height: 50px;
	border: none;
	padding: 10px;
	position:fixed;
	z-index:1;
	margin-top:-50px;
	width: 100%;
}

.nav ul {
	background-color: #000;
	padding-bottom: 0px;
	padding-top: 8px;
	border: 0px;
	display: inline;
}

.nav .nav-tabs{
	float: left;
}

.nav-hover{
	background-color: #556677;
}

.nav .nav-pills{
	float: right;
}


.nav a {
  	color: white;
  	font-size: 15px;
  	font-weight: bold;
  	padding: 14px 10px;
  	text-transform: uppercase;
}

.nav li{
	padding-bottom: 0px;
	padding-top: 0px;
	display: inline;
	padding: 0px;
	border:: 0px;
	margin: 0px;
}

.title {
  	background-image: url('../pic/123.jpg');
  	height: 500px;
	background-repeat: no-repeat;
 	background-size: cover
}

.title h1 {
  	color: #fff;
	padding-top: 72px;
  	font-size: 48px;  
  	font-family: 'Shift', sans-serif;
  	font-weight: bold;
}

.title p {
  	font-size: 20px;
  	color: #fff;
	border-top: 10px;
}

.resume h2{
	padding-bottom: 10px;
	padding-top: 10px;
	text-align:center;
}

.resume .thumbnail{
	font-size: 18px;
	text-align: center;
	border: none;
}

.Education {
  	background-color: #f7f7f7;
}

.Education h2{
	padding-bottom: 10px;
	padding-top: 10px;
  	text-align:center;
}

.Education h3 {
 	font-family: 'Shift', sans-serif;
  	font-size: 18px;
  	font-weight: bold;
}

.Education a {
  	color: #00b0ff;
}

.contact{
	background-color: #CCC;
}

.contact h3{
	text-align: center;
}

.contact p{
	text-align: center;
}